includes:
    - vendor/craftcms/phpstan/phpstan.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
    treatPhpDocTypesAsCertain: false
    tmpDir: %currentWorkingDirectory%/tmp/phpstan
